.button {
  display: block;
  padding: 14px;
  margin: 0 auto;
  background-color: $backgroundColor;
  text-transform: uppercase;
  border: 2px solid $primaryTextColor;
  color: $primaryTextColor;
  cursor: pointer;

  @include font-style(18px, 20px, 700);

  &--modal {
    background-color: $primaryColor;
    color: $secondaryTextColor;
    padding: 18px;
    border: none;

    @include font-style(17px, 16px, 700);
  }
}
