.categories {
  @include list-reset;

  @media screen and (min-width: $mobile-tablet-width) {
    display: flex;
  }
}

.categories__item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-content: center;
  padding: 30px;
  background-color: $primaryColor;
  box-sizing: border-box;

  @include font-style(19px, 24px, 700);

  &--dark {
    background-color: $secondaryColor;
  }

  &--interior {
    padding: 23px 36px 18px 30px;

    @media screen and (min-width: $mobile-tablet-width) {
      padding-bottom: 18+24px;
    }
  }

  &--interior::after {
    display: block;
    width: 40px;
    height: 62px;
    background-image: url("../img/icon-interior.svg");
    content: "";
  }

  &--toy {
    padding: 21px 30px 22px;

    @media screen and (min-width: $mobile-tablet-width) {
      padding-bottom: 22+24px;
    }
  }

  &--toy::after {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-toy.svg");
    content: "";
  }

  &::after {
    justify-self: end;
    align-self: center;
  }

  @media screen and (min-width: $mobile-tablet-width) {
    width: 100%;

    @include font-style(20px, 30px, 700);
  }
}

.categories__link {
  color: $secondaryTextColor;
  text-align: left;
  text-decoration: none;
}
