.categories {
  @include list-reset;

  @media screen and (min-width: $mobile-tablet-width) {
    display: flex;
    padding: 0 50px;
  }
}

.categories__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  min-height: 103px;
  padding: 0 30px;
  color: $secondaryTextColor;
  background-color: $primaryColor;
  box-sizing: border-box;
  text-align: left;

  @include font-style(19px, 24px, 700);

  &--dark {
    background-color: $secondaryColor;
  }

  &--interior::after {
    display: block;
    width: 40px;
    height: 62px;
    background-image: url("../img/icon-interior.svg");
    content: "";
  }

  &--toy::after {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-toy.svg");
    content: "";
  }

  &::after {
    justify-self: end;
  }

  @media screen and (min-width: $tablet-width) {
    min-height: 127px;
    width: 100%;
  }
}
