.contacts {
  min-height: 896px;

  @media screen and (min-width: $tablet-width) {
    padding-top: 46px;
    min-height: 824px;
    text-align: center;
    box-sizing: border-box;
  }
}

.contacts__title {
  margin: 0;
  padding: 0 30px;
  color: $titleTextColor;

  @include font-style(25px, 30px, 700);

  @media screen and (min-width: $tablet-width) {
    position: relative;
    padding: 0 50px;

    @include font-style(43px, 50px, 700);
  }

  &::before {
    @media screen and (min-width: $tablet-width) {
      position: absolute;
      top: 0;
      right: 50px;
      width: 47px;
      height: 81px;
      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
      background-position: center;
      content: "";
    }
  }
}

.contacts__button {
  margin: 42px 30px 40px;

  @media screen and (min-width: $tablet-width) {
    margin: 55px 0 57px;
  }
}

