.contacts {
  @media screen and (min-width: $tablet-width) {
    padding-top: 46px;
    text-align: center;
    box-sizing: border-box;
  }

  @media screen and (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 293px 457px;
    column-gap: 55px;
    padding-left: 224px;
    text-align: left;
    padding-bottom: 105px;
    padding-top: 71px;
  }
}

.contacts__title {
  margin: 0;
  padding: 0 30px;
  color: $titleTextColor;

  @include font-style(25px, 30px, 700);

  @media screen and (min-width: $tablet-width) {
    position: relative;
    padding: 0 50px;

    @include font-style(43px, 50px, 700);
  }

  @media screen and (min-width: $desktop-width) {
    @include font-style(53px, 57px, 700);

    padding: 0;
    margin-bottom: 35px;
  }

  &::before {
    @media screen and (min-width: $tablet-width) {
      position: absolute;
      top: 0;
      right: 50px;
      width: 47px;
      height: 81px;
      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
      background-position: center;
      content: "";
    }

    @media screen and (min-width: $desktop-width) {
      left: -64px;
    }
  }
}

.contacts__button {
  margin-bottom: 40px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.contacts__map {
  grid-row: 1 / span 3;
  grid-column: 2 / span 1;
  margin-bottom: 42px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

