.copyright {
  text-align: center;
  padding-top: 22px;
  border-top: 1px solid $borderSecondaryColor;
}

.copyright__text {
  color: $titleTextColor;
  margin-right: 27px;

  @include font-style(19px, 18px, 700);
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
