.footer {
  min-height: 160px;
  background-color: $backgroundSecondaryColor;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    min-height: 143px;
  }
}

.footer__logo {
  color: $logoColor;

  &:hover {
    .footer__logo-image {
      color: $primaryColor;
    }
  }

  &:active {
    .footer__logo-image {
      opacity: 0.3;
    }
  }
}

.footer__logo-image {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}
