.form-group {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    padding: 50px 0;

    &--double {
      display: grid;
      grid-template-columns: 115px 1fr;
      align-items: center;
    }
  }
}

.form-group__title {
  position: relative;
  display: block;
  margin: 0;
  color: $primaryColor;
  text-transform: uppercase;

  @include font-style(17px, 16px, 700);

  &::before {
    position: absolute;
    top: 8px;
    height: 1px;
    width: calc(100% - 60px);
    margin-left: 60px;
    background-color: $primaryColor;
    display: block;
    content: "";
  }

  &--long {
    &::before {
      margin-left: 78px;
      width: calc(100% - 78px);
    }
  }

  @media screen and (min-width: $tablet-width) {
    width: 167px;
    padding-left: 50px;

    &::before {
      display: none;
    }
  }

  @media screen and (min-width: $desktop-width) {
    width: 115px;
    padding-left: 0;
  }
}

.form-group__wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 0;

  @media screen and (min-width: $tablet-width) {
    flex-grow: 1;
    padding: 0;
    padding-right: 50px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-right: 0;
  }

  &--column {
    @media screen and (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 85px;
    }

    @media screen and (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 85px;
    }
  }
}
