.header {
  position: relative;
  padding: 0 30px;
  min-height: 79px;

  @include font-style(17px, 24px, 700);

  @media screen and (min-width: $tablet-width) {
    display: flex;
    min-height: 89px;
    padding: 0 50px;
  }
}

.header__logo {
  display: block;
}

.header__logo-image {
  display: block;
  padding: 22px 0;
  margin: 0 auto;

  @media screen and (min-width: $tablet-width) {
    padding: 22px 20px 20px;
    width: 114px;
    height: 46px;
  }
}
