.item {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media screen and (min-width: $desktop-width) {
    flex-direction: column;
    border: 1px solid $borderColor;

    &:hover {
      .item__wrapper {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
      }

      .item__title {
        opacity: 0.6;
      }
    }

    &:active {
      .item__wrapper {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      }

      .item__title {
        opacity: 0.3;
      }
    }
  }
}

.item__title {
  margin: 0;
  margin-bottom: 6px;
  color: $titleTextColor;

  @include font-style(17px, 24px, 700);

  @media screen and (min-width: $tablet-width) {
    padding-top: 27px;

    @include font-style(20px, 24px, 700);
  }
}

.item__specs {
  display: block;
  padding-bottom: 18px;
  border-bottom: 1px solid $borderColor;

  @include font-style(13px, 30px, 400);

  @media screen and (min-width: $tablet-width) {
    border-bottom: none;
    padding-bottom: 0;

    @include font-style(15px, 30px, 400);
  }

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 12.5px;
  }
}

.item__price {
  color: $titleTextColor;

  @include font-style(15px, 24px, 700);

  @media screen and (min-width: $tablet-width) {
    @include font-style(17px, 24px, 700);
  }
}

.item__wrapper {
  padding: 0 28px;

  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: 100%;
    padding: 0 33px;
    width: 100%;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0 28px;
    height: 100%;
    box-sizing: border-box;
  }
}

.item__image {
  display: block;
  margin-bottom: 28px;
  object-fit: cover;

  @media screen and (min-width: $tablet-width) {
    margin: 0;
    height: 100%;
    min-width: 334px;
    max-height: 334px;
  }

  @media screen and (min-width: $desktop-width) {
    min-width: 314px;
    max-height: 462px;
  }
}

.item__button {
  display: flex;
  justify-content: space-between;
  padding: 23px 0 26px;
  text-decoration: none;

  @media screen and (min-width: $tablet-width) {
    border-top: 1px solid $borderColor;
  }

  @media screen and (min-width: $desktop-width) {
    &:hover {
      .item__icon {
        color: $primaryColor;
        opacity: 1;
      }
    }

    &:active {
      .item__icon {
        opacity: 0.3;
      }
    }
  }
}

.item__icon {
  opacity: 0.2;
}
