.main__header {
  padding: 0 30px;

  @media screen and (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-left: 30px;
  }
}

.main__container {
  flex-grow: 1;
}

.main__promo {
  margin-bottom: 30px;

  @media screen and (min-width: $mobile-tablet-width) {
    margin-bottom: 67px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 111px;
  }
}

.main__promo--main {
  margin-bottom: 31px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 54px;
  }
}

.main__promo-item {
  margin-bottom: 31px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 56px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 63px;
  }
}

.main__about {
  margin-bottom: 57px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 82px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.main__reviews {
  margin-bottom: 38px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 46px;
  }
}

.main__contacts {
  margin-bottom: 39px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-left: 224px;
    padding-right: 50px;
    margin-bottom: 105px;
  }
}

.main__footer {
  padding: 24px 30px 23px;

  @media screen and (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main__order {
  @media screen and (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.main__catalog {
  @media screen and (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.main__about-production {
  @media screen and (min-width: $desktop-width) {
    margin-bottom: 105px;
  }
}
