.nav__list {
  @include list-reset;
}

.nav__link {
  display: block;
  padding: 28px 30px 27px 76px;
  border-bottom: 1px solid $borderColor;
  box-sizing: border-box;
  text-decoration: none;
  color: $titleTextColor;

  &:first-child {
    border-top: 1px solid $borderColor;

    @media screen and (min-width: $tablet-width) {
      border: none;
    }
  }

  @media screen and (min-width: $tablet-width) {
    display: flex;
    border: none;
    padding: 32.5px;
  }

  &--cart {
    @media screen and (min-width: $tablet-width) {
      padding-right: 0;
    }
  }
}

.nav__icon {
  position: absolute;
  left: 30px;
  opacity: 0.2;

  @media screen and (min-width: $tablet-width) {
    position: relative;
    left: 0;
    margin-right: 30px;
    display: block;
  }

  &--search {
    @media screen and (min-width: $tablet-width) {
      margin-right: 0;
    }
  }
}

.nav__note {
  @media screen and (min-width: $tablet-width) {
    display: block;
  }

  &--search {
    @media screen and (min-width: $tablet-width) {
      display: none;
    }
  }
}
