.order__description {
  display: block;
  margin: 0;
  padding: 17px 30px 29px;

  @include font-style(13px, 24px, 400);

  @media screen and (min-width: $tablet-width) {
    @include font-style(17px, 30px, 400);
  }

  @media screen and (min-width: $desktop-width) {
    @include fixed-width;

    padding: 17px 0 29px;
  }
}
