.order-form {
  padding: 0 30px 55px;
}

.order-form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;

  &::before {
    position: absolute;
    top: 8px;
    height: 1px;
    width: calc(100% - 60px);
    margin-left: 60px;
    background-color: $primaryColor;
    display: block;
    content: "";
  }
}

.order-form__title {
  display: block;
  margin: 0;
  color: $primaryColor;
  text-transform: uppercase;

  @include font-style(17px, 16px, 700);
}

.order-form__note {
  @include font-style(14px, 16px, 400);
}

.order-form__wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
