$paddingRight: 225px;
$paddingLeft: 110px;

.order-form {
  padding: 0 30px 55px;

  @media screen and (min-width: $tablet-width) {
    padding: 0;
  }
}

.order-form__wrapper {
  @media screen and (min-width: $desktop-width) {
    &:nth-child(even) {
      background-color: $backgroundSecondaryColor;
    }
  }
}

.order-form__note {
  display: block;
  margin-bottom: 30px;

  @include font-style(14px, 16px, 400);

  @media screen and (min-width: $tablet-width) {
    order: 1;
    align-self: center;
    margin-bottom: 0;

    @include font-style(17px, 30px, 400);
  }
}

.order-form__button-wrapper {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 50px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-right: $paddingRight;
    padding-left: $paddingLeft;
    box-sizing: border-box;

    @include fixed-width;
  }
}

.order-form__button {
  @media screen and (min-width: $tablet-width) {
    order: 0;
    margin-left: 0;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 115px;
  }
}

.order-form__group {
  @media screen and (min-width: $desktop-width) {
    padding-right: $paddingRight;
    padding-left: $paddingLeft;
    box-sizing: border-box;

    @include fixed-width;
  }
}
