.order-form {
  padding: 0 30px 55px;

  @media screen and (min-width: $tablet-width) {
    padding: 0;
  }
}

.order-form__note {
  display: block;
  margin-bottom: 30px;

  @include font-style(14px, 16px, 400);
}

