.product-nav {
  @media screen and (min-width: $tablet-width) {
    position: absolute;
    left: 50px;
    top: 89px;
    display: flex;
    z-index: 2;

    @include font-style(15px, 24px, 700);
  }

  @media screen and (min-width: $desktop-width) {
    position: static;
    align-items: center;

    @include font-style(17px, 24px, 700);
  }
}

.product-nav__link {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 20px;
  }

  @media screen and (min-width: $desktop-width) {
    &:first-child {
      padding-left: 0;
    }
  }
}
