.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 177px;
  background-color: $backgroundSecondaryColor;

  @media screen and (min-width: $mobile-tablet-width) {
    justify-content: start;
    min-height: 238px;

    &::after {
      position: absolute;
      bottom: 0;
      height: 24px;
      width: 100%;
      background-image: url("../img/zigzag.svg");
      background-repeat: repeat-x;
      z-index: 0;
      content: "";
    }
  }
}

.promo__title {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  color: $titleTextColor;

  @include font-style(27px, 30px, 700);

  @media screen and (min-width: $mobile-tablet-width) {
    padding: 100px 50px 0;

    @include font-style(43px, 50px, 700);
  }

  @media screen and (min-width: $desktop-width) {
    padding: 57px 50px 0;

    @include font-style(53px, 57px, 700);
    @include fixed-width;
  }
}

.promo__sublist {
  display: none;

  @media screen and (min-width: $desktop-width) {
    display: block;
  }
}

.promo__wrapper {
  @media screen and (min-width: $desktop-width) {
    order: -1;
    display: flex;
    justify-content: space-between;
    padding-top: 19px;

    @include fixed-width;
  }
}
