.promo-main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 489px;
  background-image: url("../img/bg/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  @media screen and (min-resolution: 2dppx) {
    background-image: url("../img/bg/hero-mobile@2x.jpg");
  }

  @media screen and (min-width: $tablet-width) {
    min-height: 746px;
    background-image: url("../img/bg/hero-tablet.jpg");

    &::after {
      position: absolute;
      bottom: 0;
      height: 24px;
      width: 100%;
      background-image: url("../img/zigzag.svg");
      background-repeat: repeat-x;
      z-index: 4;
      content: "";
    }

    @media screen and (min-resolution: 2dppx) {
      background-image: url("../img/bg/hero-tablet@2x.jpg");
    }
  }
}

.promo-main__title {
  padding: 73px 30px 0 30px;
  margin: 0;
  color: $titleTextColor;

  @include font-style(27px, 30px, 700);

  @media screen and (min-width: $tablet-width) {
    padding: 154px 50px 0 50px;

    @include font-style(43px, 50px, 700);
  }
}

.promo-main__sublist {
  display: none;
}

.promo-main__note {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 20px;
    right: 50px;
  }
}

