.radio-field {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  min-height: 42px;
}

.radio-field__label {
  display: block;
  padding-left: 61px;
  color: $titleTextColor;

  @include font-style(17px, 18px, 700);
}

.radio-field__input {
  appearance: none;
}

.radio-field__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  border: 1px solid $titleTextColor;
  border-radius: 50%;
  z-index: 1;
  content: "";
}

.radio-field__input:checked + .radio-field__mark::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: $primaryColor;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  z-index: 3;
  content: "";
}
