.radio-field {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  min-height: 42px;

  @media screen and (min-width: $desktop-width) {
    &:hover {
      .radio-field__mark {
        border-color: $primaryColor;
      }
    }

    &:active {
      .radio-field__mark {
        border-color: rgba($primaryTextColor, 0.3);
      }
    }
  }
}

.radio-field__label {
  display: block;
  padding-left: 61px;
  color: $titleTextColor;

  @include font-style(17px, 18px, 700);
}

.radio-field__input {
  appearance: none;
}

.radio-field__input:focus + .radio-field__mark {
  @media screen and (min-width: $desktop-width) {
    border-color: $primaryColor;
  }
}

.radio-field__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  border: 2px solid $primaryTextColor;
  border-radius: 50%;
  z-index: 0;
  content: "";
}

.radio-field__input:checked + .radio-field__mark::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: $primaryColor;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  z-index: 3;
  content: "";
}
