.reviews {
  position: relative;
  padding-bottom: 45px;

  &::before {
    @media screen and (min-width: $tablet-width) {
      position: absolute;
      width: 350px;
      height: 457px;
      background-image: url("../img/bg/review-bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      content: "";
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    height: 6px;
    width: 100%;
    background-image: url("../img/zigzag-line-mobile.svg");
    background-repeat: repeat-x;
    z-index: 4;
    content: "";

    @media screen and (min-width: $tablet-width) {
      position: absolute;
      bottom: 0;
      height: 24px;
      width: 100%;
      background-image: url("../img/zigzag-line.svg");
      background-repeat: repeat-x;
      z-index: 4;
      content: "";
    }
  }
}

.reviews__wrapper {
  padding: 0 30px;

  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template:
    "title title button" min-content
    "review review review" min-content
    "author author arrows" min-content;
    padding: 79px 50px 132px;
    box-sizing: border-box;
  }

  @media screen and (min-width: $desktop-width) {
    padding-left: 224px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;
  color: $titleTextColor;

  @include font-style(25px, 30px, 700);

  @media screen and (min-width: $tablet-width) {
    grid-area: title;
    margin-bottom: 0;
    z-index: 2;

    @include font-style(43px, 50px, 700);
  }

  @media screen and (min-width: $desktop-width) {
    @include font-style(53px, 57px, 700);
  }
}

.reviews__slider {
  margin: 30px 0 38px;

  @media screen and (min-width: $tablet-width) {
    margin: 0;
    width: 178px;
    justify-self: end;
  }
}

.reviews__button {
  width: 260px;

  @media screen and (min-width: $tablet-width) {
    grid-area: button;
    margin-bottom: 40px;
    margin-right: 0;
    width: 175px;
    box-sizing: border-box;

    @include font-style(17px, 20px, 700);
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;

  @include font-style(15px, 30px, 400);

  @media screen and (min-width: $tablet-width) {
    grid-area: review;
    margin-bottom: 61px;
    z-index: 2;

    @include font-style(17px, 30px, 400);
  }

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 44px;
  }
}

.reviews__author {
  display: block;
  color: $titleTextColor;
  margin-bottom: 30px;

  @include font-style(17px, 24px, 700);

  @media screen and (min-width: $tablet-width) {
    grid-area: author;
    margin-bottom: 0;
    z-index: 2;
  }
}

.reviews__author-link {
  display: block;

  @include font-style(17px, 30px, 400);
}
