.slider-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 52px;
  border: 1px solid $borderColor;

  @media screen and (min-width: $tablet-width) {
    border: none;
    z-index: 0;
  }
}

