.socials {
  margin: 0 auto;
  padding-bottom: 28px;
  width: 142px;

  @media screen and (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.socials__list {
  display: flex;
  justify-content: space-between;

  @include list-reset;
}

.socials__icon {
  color: $socialsColor;
}

.socials__link {
  width: 100px;

  &:hover {
    .socials__icon {
      color: $primaryColor;
    }
  }
  &:active {
    .socials__icon {
      opacity: 0.3;
    }
  }
}
