.specs {
  @include font-style(15px, 20px, 400);
}

.specs__value {
  margin: 0;
}

.specs__row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  padding: 13px 0 20px;
  border-bottom: 1px solid $borderColor;

  @media screen and (min-width: $tablet-width) {
    padding: 10px 0 12px;
  }
}
