.specs {
  @include font-style(15px, 20px, 400);
}

.specs__value {
  margin: 0;
}

.specs__row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  padding: 8px 0 12px;
  border-bottom: 1px solid $borderColor;

  @media screen and (min-width: $tablet-width) {
    padding: 6px 0 10px;
  }

  &:first-child {
    padding-top: 0;
  }
}
